*{
    margin: 0;
    padding: 0;
}

body {
    background: url('https://w.wallhaven.cc/full/ey/wallhaven-ey2358.jpg') no-repeat;
    background-size: cover;
}

.box {
    width: 500px;
    background: rgba(27, 22, 22, 0.4);
    padding: 10px;
    text-align: center;
    margin: 30px auto;
    color: white;
    border-radius: 15px;
    box-shadow: 7px 13px 37px white;
}
  
.box-IMG {
    border-radius: 100%;
    border-style: solid;
    transition: all 0.5s ease-in-out;
}

.box-IMG:hover{
    transform: scale(1.1);
    border:solid red;
}
  
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    letter-spacing: 6px;
    font-weight:bold;
    margin: 10px 0 20px;
    transition: all 0.5s;
}

h1:hover{
    color:orangered;
}
 
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 120;
    margin-bottom: 30px;
    color: chartreuse;
}

h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 120;
    margin-bottom: 30px;
    color: aqua;
}
  
.box p {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
}

.Imagen {
    border-radius: 100%;
    border-style: dashed;
    border-color:white;
    display: block;
    transition: all .5s ease-in-out;
}
.Imagen:hover{
    border-color: red;
    transform: scale(1.5);
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5em;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 25px;
}

.grid div{
    background: rgba(27, 22, 22, 0.5) ;
    padding: 15px;
    border-radius: 15px;
    justify-self: center;
    text-align: center;
    box-shadow: 7px 13px 37px red;
}

.grid a{
    text-decoration: none;
    font-family: 'Output Sans', -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-size: 15px;
    transition: all .5s ease-in-out;
}

.grid a:hover{
    color: orangered;
    font-size: 1.25rem;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    text-align: center;
    padding: 0.625rem;
}
